/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos gerais */
body {
  background-image: url('fundo-fotor.png'); /* Substitua pelo caminho correto da sua imagem */
  background-size: cover; /* Faz com que a imagem cubra todo o viewport */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: center center; /* Centraliza a imagem */

  background-color: #483D8B; /* Cor de fundo como fallback, para o caso da imagem não carregar ou ser transparente em alguma parte */
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout da página */
header {
	display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 200px;
}

h1 img {
    height: 100px;
    margin: 0; /* Remove a margem direita */
}

h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.busca {
	width: 100%; /* Ocupa toda a largura do header */
    display: flex;
    justify-content: center; /* Centraliza a barra de busca */
    margin-bottom: 10px; /* Espaço abaixo da barra de busca */
}

.busca input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  width: 80%;
}

/* Estilo base para botões */
button {
  transition: all 0.3s ease;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.busca button[type="submit"] {
  padding: 10px;
  background-color: #5f47a1;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.carrinho {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.carrinho p {
  margin-right: 10px;
}

.carrinho ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carrinho li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  width: 200px;
}

.carrinho li:last-child {
  margin-bottom: 0;
}

.carrinho li .quantidade {
  display: flex;
  align-items: center;
}

.carrinho li .quantidade input {
  width: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0 5px;
}

.carrinho li .remover {
  color: red;
  cursor: pointer;
}

.carrinho li span:first-child {
  color: black;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #8A2BE2;
}

.produto {
  width: 30%;
  margin-bottom: 20px;
  background-color: #4B0082;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  position: relative;
}

.produto img {
  max-width: 100%;
}

.produto h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.produto .preco {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.produto .comprar {
  background-color: #5f47a1;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

footer {
  background-color: #4B0082;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 0.8rem;
}

@media (min-width: 769px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .busca {
        width: auto; /* Retira a largura total, adaptando-se ao conteúdo */
        margin-bottom: 0; /* Remove o espaço abaixo da barra de busca */
    }

    h1 img {
        margin-right: 700px; /* Retorna a margem direita */
    }
}

.produto .favorito {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gold;
  font-size: 1.5rem;
  cursor: pointer;
}

.produto .favorito:hover {
  color: goldenrod;
}

.product {
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 200px;
}

.size-selection, .color-selection {
    margin-top: 10px;
}

#whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000; 
    border: none;
    background: none;
    cursor: pointer;
}

#whatsapp-button img {
    width: 50px; 
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); 
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilização das abas */
.tabs {
    overflow: hidden;
    background-color: #4B0082;
}

.tabs button {
    background-color: #8A2BE2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-right: 1px solid #696969;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #555;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
. E o header deve ter 200px de altura, a imagem de H1 100px e a busca de 80% da largura.
